<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
</head>
<body>
    <h1>Language Translator</h1>
    <form action="/translate" method="POST">
        <label for="input_text">Input Text:</label><br>
        <input type="text" name="input_text" ><br><br>
        <label for="file_path" >Upload File to be Translated</label><br>
        <input type="file" name="file_path"><br><br>
        <input type="submit" value="Translate"><br><br><br>
        <label for="translated_result">Result</label>
        <div id="translated_result">{{ translated_text }}</div>
        
    </form>
    
</body>
</html>