<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" ?v=1>
</head>

<header>Translate</header>

<h1>Language Translator</h1>

<body>
    <form action="/translate" method="POST">
        <div style="float:left;">
            <label for="selected_text">Enter Text Here:</label>
            <br>
            <textarea type="text" name="input_text" id="input_text" rows="4" columns="50"></textarea>
        </div>
        <div style="float: right;">
            <label for="translated_text">Result:</label>
            <select name="Translator Selector" id="Translator Selector">
                <option value="libretranslate">LibreTranslate</option>
                <option value="nllb">NLLB</option>
            </select>
            <br>
            <textarea id="translated_result" rows="4" columns="50">{{translated_text}}</textarea>
        </div>
        <br><br><br><br><br>
        <div id="file_upload">
            <br>
            <label for="file_path">Upload File</label>
            <input type="file" name="file_path" accept=".pdf, .txt, .docx">
        </div>
        <br>

        <div id="language_selector">
            <label for="language_selector">Select Language For Translation:</label>
            <select name="target_language" id="language_button">
                <option value="en">English</option>
                <option value="es">Spanish</option>
                <option value="ar">Arabic</option>
                <option value="zh">Chinese</option>
                <option value="el">Greek</option>
                <option value="de">German</option>
                <option value="ja">Japanese</option>
                <option value="pt">Portuguese</option>
                <option value="ru">Russian</option>
                <option value="hi">Hindi</option>
            </select>
        </div>
        <br>
        <div id="translate_button">
            <input type="submit" value="Translate">
        </div>
    </form>
</body>

</html>