<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
</head>
<body>
    <h3>Language Translator</h3>
    <form action="/translate" method="POST">
        <label for="input_text">Input Text:</label><br>
        <input type="text" name="input_text" required><br><br>
        <label for="file_path">File Path or Directory:</label><br>
        <input type="text" name="file_path"><br><br>
        <input type="submit" value="Translate">
    </form>
    
</body>
</html>